* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  background-color: #1e1e1e;
  font-family: sans-serif;
  color: #a0a0a0;
  line-height: 1.6;
}

.main-container {
  display: grid;
  max-width: 1200px;
  grid-template-columns: 350px 1fr;
  gap: 40px;
  padding-top: 40px;
  margin: auto;
}

.sidebar {
  height: 90vh;
  background-color: #2a2a2a;
  border: 1px solid #3a3a3a;
  border-radius: 16px;
  padding: 40px;
}

.main-content {
  height: 90vh;
  background-color: #2a2a2a;
  border: 1px solid #3a3a3a;
  border-radius: 16px;
}

/* profile section */
.profile{
  text-align: center;
}

.profile img{
    height: 120px;
    width: 120px;
    border-radius: 50%;
    border: 1px solid #3a3a3a;
}

.profile h2{
    font-size: 1.5rem;
    font-weight: 700px;
    margin-top: 20px;
    color: #e0e0e0;
}

.profile p{
  background-color: #1e1e1e;
  padding: 5px 15px;
  color: #FFBF00;
  border: 1px solid #3a3a3a;
  font-size: 0.8rem;
  border-radius: 8px;
  display: inline-block;
  margin-top: 10px;
}
/* contact section */

.contact{
  margin-top:30px;
  border-top: 2px solid #3a3a3a;
  padding-top: 20px;
}

.label{
  font-weight: 500px;
  font-size: 0.8rem;
  color: #a0a0a0;
}
.value{
  color: #e0e0e0;
  text-decoration: none;
}

.email,.phone{
  margin-bottom: 15px;
}
