body{
    background-color:black;
}
.container{
    height: 400px;
    width: 500px;
    background-color: aquamarine;
    display: flex;
}
.box{
    height: 300px;
    width: 400px;
    margin: 10px;
}
.first{
    background-color: orange;
}
.second{
    display: flex;
    flex-direction: column;
    /* background-color: red; */
    gap: 20px;
}
.child{
    height: 140px;
    background-color: red;
}