*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.container{
    height: 100vh;
    background-color: black;
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    perspective: 800px;

}

.box{
  
    cursor:pointer;
    /* transition:all 4s ease-in 1s; */
    /* transition:all 3s; 
    transform:translate(200px,300px);
    transform: rotate(300deg);
    transform: skewX(30deg);
    transform: skewY(30deg);
    height: 300px; */
    transition: all 3s;
    background-color: orange;
    height: 150px;
    width: 150px;
    animation-name: moving;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    /* border-radius: 50%; */
}

.box:hover{
    background-color: rgb(224, 8, 177);
    /* width: 350px; */
    /* transform:scaleX(2) scaleY(2);
    transform: translateY(200px); */
    /* transform: translateY(200px); */
    /* transform: translateZ(300px); */
    transform: rotateX(30deg);
}

@keyframes moving{
    from{
        transform:rotate(0deg)
    }
    to{
        transform: rotate(360deg);
    }

}